API_ID=37041774
API_HASH=c7c20673b80b8867b3cbd8d6ac371260
BOT_TOKEN=8695369293:AAHpNPvTo_ZNAJCszCavRb_NBLhrRnadMqM
LOGGER_ID=-1002107679944
MONGO_DB_URI=mongodb+srv://surajapte123_db_user:surajapte123_db_user@cluster0.zda0bcu.mongodb.net/?appName=Cluster0
OWNER_ID=6375272628
STRING_SESSION=BQI1Nm4ArICpggIbdJuHnAFa1AKE-LcLUmoU3aFXsofcUBC5CHMOTyCThbb2CsiHHyxVmehlNt199LcDG9SVBIr-xKobnLIb0G1vPfZFRkgauWQbv8CxaOTIWm68w5YV16JtunQ52i40UyeKsNkdqxUGpDPb-2gduX1BgdApC4WTU7UsMmE7oQPyJrFRTIXZRlSKxgh7GOKclif_T6kWjepeMkcH_OcxdRbXRRP3EY9jZI3d3QErJ6QaTQ9wGhheXSFngkvTwCDhxQJz7P-Siny1OFnMpsiA4xHqQQWimM6IG6JjC50AJyqeBTYXCDFzKJXd-t21jqL1gvVKdUaVgHC8OPJKIAAAAAHq4jZ0AA

